<nav class="sidebar" th:fragment="server-nav" xmlns:th="http://www.thymeleaf.org">
    <div class="sidebar-item active" id="btn-dm" onclick="switchToDM()">
        <div class="pill"></div>
        <div class="sidebar-icon">
            <i class="fa-brands fa-discord" style="font-size: 28px;"></i>
        </div>
        <span class="tooltip">Direct Messages</span>
    </div>

    <div class="separator"></div>

    <div class="sidebar-item" id="server-1" data-server-id="1" onclick="switchToServer(this)">
        <div class="pill"></div>
        <div class="sidebar-icon">D</div>
        <span class="tooltip">Dev Community</span>
    </div>

    <div class="sidebar-item" id="createServerBtn" onclick="openModal('createServerModal')">
        <div class="pill"></div>
        <div class="sidebar-icon add-server-icon">+</div>
        <span class="tooltip">Thêm máy chủ</span>
    </div>
</nav>